
<div ng-controller="navbarCtrl">
    <!-- originally had class navbar-static-top -->
    <nav class="navbar">
        <div class="container nav-classes">
            <div class="row nav-classes">
                <div class="col-md-6 nav-classes">
                    <!-- original code : <ul class="nav navbar-nav"> -->
                    <ul div class="nav-items">
                        <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
                            <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
                        </li>
                    </ul>
                </div>
            <!-- let's move the login with fb/google buttons to the login page -->

             <div class="col-md-3">
                    <input type="text" class="search-query form-control" placeholder="search by hashtags" ng-model="searchText" onkeydown = "if (event.keyCode == 13) document.getElementById('btnSearch').click()"/>
                    <span class="input-group-btn">
                        <button id="btnSearch" class="btn btn-danger" type="button" ng-click="search(searchText)">
                            <span class=" glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>

                <div class="col-md-3 nav-right-side-buttons">
                    <button ui-sref="currentCart" class="btn btn-success">My Cart</button>
                    <button ng-show="!user" ui-sref="signup" class="btn btn-warning">Sign up</button>
                    <button ng-show="!user" ui-sref="login" class="btn btn-info">Login</button>
                    <button ng-show="user" class="btn btn-info" ng-click="logout()">Logout</button>
                </div>
            </div>
        </div>
    </nav>
</div>
