
<div ng-controller="navbarCtrl">
    <nav class="navbar navbar-static-top">
        <div class="container">
            <!--<div class="navbar-header">-->
                <!--<fullstack-logo></fullstack-logo>-->
            <!--</div>-->
            <ul class="nav navbar-nav">
                <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
                    <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
                </li>
            </ul>
            <button ng-show="!user" ui-sref="login" class="btn login-button">Login</button>
            <button ng-show="user" class="btn login-button" ng-click="logout()">Logout</button>
        </div>
    </nav>
    <div class="form-inline">
        <div id="custom-search-input">
            <div class="input-group col-md-12">
                <input type="text" class="  search-query form-control" placeholder="Search"
                       onkeydown = "if (event.keyCode == 13) document.getElementById('btnSearch').click()"/>
                <span class="input-group-btn">
                    <button id="btnSearch" class="btn btn-danger" type="button" ng-click="search(searchText)">
                        <span class=" glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>
