
<style>

.title-background {
	background-color: #E3CF57;
/*	background-color: #00EE00;*/
	border-radius: 5px;
}

.title-background h1 {
	color: white;
	/*margin-left: 20px;*/
	text-align: center;
	padding: 4px;
}

.results-content {
	background-color: #FAFAFA;
	min-height: 100px;
	padding: 4px;
	margin: 4px;
	border: 1px solid black;
	border-radius: 5px;
	border-color: #000000;
}

.thumbnail {
	background-color: #F0F0F0;
	display: inline-block;
	/*width: 200px;
	height: 200px;*/
}

.thumbnail:hover {
	background-color: #C6E2FF;
	cursor: pointer;
}

.thumbnail img {
	border-radius: 5px;
	/*height: 180px;
	width: 180px;*/
	display: block;
	margin: 10px auto auto auto;
}

.sock-title {
	padding-left: 20px;
}

</style>

<div class="container">
  <div ng-repeat="item in currentCart">
		<div class="row results-content">
	    <h3 class="sock-title">{{item.sock.title}}</h3>
			<div class="col-md-4">
		    <img src="http://placehold.it/100x100" class="thumbnail"/>
			</div>
			<div class="col-md-8">
		    <div>Description: {{item.sock.description}}</div>
		    <div>Price: {{item.sock.price}}</div>
				<div>Pairs: {{item.quantity}}</div>
		    <form>
		      <input type="text" ng-model="amount"/>
		      <button type="submit" class="btn" ng-click="update(item, amount)">Change Item Quantity</button>
					<button type="submit" class="btn" ng-click="delete(item)">Delete Item</button>
		    </form>
			</div>
		</div>
	</div>
</div>
