
<style>

.title-background {
	background-color: #E3CF57;
/*	background-color: #00EE00;*/
	border-radius: 5px;
}

.title-background h1 {
	color: white;
	/*margin-left: 20px;*/
	text-align: center;
	padding: 4px;
}

.results-content {
	background-color: #FAFAFA;
	min-height: 100px;
	padding: 4px;
	margin: 4px;
	border: 1px solid black;
	border-radius: 5px;
	border-color: #000000;
}

.thumbnail {
	background-color: #F0F0F0;
	display: inline-block;
	width: 90px;
	height: 90px;
}

.thumbnail:hover {
	background-color: #C6E2FF;
	cursor: pointer;
}

.thumbnail img {
	border-radius: 5px;
	display: block;
	margin: 10px auto auto auto;
}

.sock-title {
	padding-left: 20px;
}

</style>

<div class="container">
	<div ng-repeat="order in cartHistory">
		<div>Order# {{order.orderId}}<div>
		<div>Date Ordered: {{order.orderDate}}
	  <div class="results-content" ng-repeat="item in order.items">
			<div class="row">
		    <h3 class="sock-title">{{item.sock.title}}</h3>
				<!-- <div>{{item}}</div> -->
				<div class="col-md-4">
			    <img src="{{item.sock.image}}" class="thumbnail"/>
				</div>
				<div class="col-md-8">
			    <div>Description: {{item.sock.description}}</div>
					<div>Pairs: {{item.quantity}}</div>
					<div>Price/Pair: {{item.sock.price}}</div>
					<div>Item Total: {{item.sock.price * item.quantity}}
				</div>
			</div>
		</div>
	</div>
</div>
