<style>

canvas {
	background-color: blue;
}

</style>

<div class="container">
		<div class="title-background">
			<h1 ng-click-"working()">Design a Sock</h1>
		</div>
		<div id="canvas-box">
			<input type="text" ng-model="title" id="title-input" placeholder="Give your socks a name!">
			<div class="row">			
				<div class="col-md-7">
					<canvas width="600" height="600"></canvas>
				</div>
				<div class="col-md-5">
					<div class="socks-info">
						<div class="info-fields">
							<label>Description:</label><br>
							<textarea ng-model="description" placeholder="Write a helpful description here, so people better the artistic ambitions that drove you to create your brillaint sock design!"></textarea><br>
							<label>Hashtags:</label><br>
							<textarea ng-model="tags" placeholder="Write tags so people can find your socks on the Sock Market! Separate each tag with a comma and space, and remember to include a hashtag (e.g., '#winter, #olympics')."></textarea>
						</div>
						<div class="controls">
							<ul>
								<li class="red selected"></li>
								<li class="blue"></li>
								<li class="yellow"></li>
							</ul>
							<button id="revealColorSelect" class="btn btn-primary">New Color</button>
							<!-- <button id="deleteSelectedColor" class="btn btn-primary">Delete Color</button> -->
							<div id="colorSelect">
								<span id="newColor"></span>
								<div class="sliders">
									<p>
										<label for="red">Red</label>
										<input id="red" name="red" type="range" min=0 max=255 value=0>
									</p>
									<p>
										<label for="green">Green</label>
										<input id="green" name="green" type="range" min=0 max=255 value=0>
									</p>
									<p>
										<label for="blue">Blue</label>
										<input id="blue" name="blue" type="range" min=0 max=255 value=0>
									</p>
								</div>
								<div>
								<button id="addNewColor" class="btn btn-primary">Add Color</button>
								</div>
							</div>
						</div>
						<button class="btn btn-primary" ng-click="saveDesign(title, description, tags)" id="submit">Submit Your Design!</button>
						<div id="error">
							<p>(Error messages)</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>