.navbar {
  height: 40px;
  /*border-bottom: 3px solid #CFCFCF;*/
  position: fixed;
  z-index: 1;
  border-radius: 0 !important;
  background-color: white;
  width: 100%;
  -webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
}

.nav li {
  background: white;
  font-weight: bold;
}

.nav-right-side-buttons {
  text-align: right;
}

.nav li:hover {
  background: white;
}

.navbar button {
  text-align: right;
  display: inline;
  margin-top: 7px;
}

.nav-items {
  display: inline-block;
  margin-left: 0px;
}

.nav-items li {
  display: inline-block;
  color: black;
  /*font-weight: bold;*/
  background-color: white;
  height: 49px;
  padding-top: 14px;
  padding-bottom: 10px;
  margin-right: 15px;
}

.nav-items li:hover {
  border-bottom: 3px solid #1E90FF;
}

.nav-items a {
  display: block;
  color: black;

}

.nav-items li a:hover {
  text-decoration: none;
  color: #1E90FF;
}

.navbar input {
  float: left;
  display: inline;
  margin-top: 7px;
  width: 80%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}




/*
navbar {

  display: block;
  background: white;
  border-bottom: 1px solid black;
  box-shadow: 1px 1px 14px -3px black;

  .container {
    width: 91%;
    max-width: 1340px;
    padding-top: 20px;
  }

  fullstack-logo {
    margin-top: 5px;
    margin-right: 20px;
    width: 40px;
  }

  a {
    color: black;
    font-size: 16px;
  }

  .nav > li > a {
    cursor: pointer;
    transition: color 0.2s;
    &.active {
      color: darken(#f31214, 10%);
    }
    &:hover {
      background: none;
      color: #f31214;
    }
    &:focus {
      background: none;
    }
  }

  .login-button {
    float: right;
    border: 1px solid black;
    margin-top: 10px;
    background: none;
    outline: none !important;
  }

  .welcome {
    float: right;
    margin-top: 12px;
    span {
      color: black;
      font-size: 16px;
      margin-right: 5px;
    }
    a {
      color: #f30046;
      cursor: pointer;
    }
  }

}*/
