<!-- <section id="home"> -->

<style>

.container {
	width: 1000px;
}

.title-background {
	background-color: #E3CF57;
/*	background-color: #00EE00;*/
	border-radius: 5px;
}

.title-background h1 {
	color: white;
	/*margin-left: 20px;*/
	text-align: center;
	padding: 4px;
}

.sock-section {

	/*background-color: #F5F5F5;*/
	background-color: white;
	margin-bottom: 10px;
	border-radius: 5px;
}

.sock-section .row {
	min-height: 100%;
	display: flex;
}

.sock-section .col-md-3 {
	min-height: 100%;
	border-right: 3px solid #878787;
}

.sock-section .titlebar {
	min-height: 100%;
}

.sock-section .content {
	margin: 10px;
	overflow-y: hidden;
	white-space: nowrap;
	padding-bottom: -40px;
	/*height: 240px;*/
	background-color: white;
}

.sock-thumbnail {
	/*background-color: #F0F0F0;*/
	display: inline-block;
	/*width: 230px;
	height: 230px;*/
}
::-webkit-scrollbar {
    display: none;
}
.sock-thumbnail-dir {
	/*border-radius: 5px;
	height: 230px;
	width: 230px;*/
	display: block;
	margin: 0 1.5px 0 1.5px;
	/*margin: 5px auto auto auto;
	background-color: white;*/
}

.browse-section {
	display: block;
	margin: 0 auto;
	/*width: 1000px;*/
}

.browse-container {
	display: flex;
}

.sock-browse-container {
	width: 225px;
	height: 265px;
	background-color: #F0F0F0;
	margin: 4px;
	border-radius: 3px;
}

/*.sock-browse-container:hover {
	background-color: #C6E2FF;
	cursor: pointer;
}*/

.sock-thumbnail-browse {
	background-color: #C2C2C2;
	display: block;
	/*flex: auto;*/
	/*flex-wrap: wrap;*/
}

.sock-thumbnail-browse img {
	border: 4px solid #ADD8E6;
	border-radius: 5px;
	height: 200px;
	width: 200px;
	display: block;
	margin: 10px auto auto auto;
	background-color: white;
}

.sock-thumbnail-browse img:hover{
	border: 4px solid #1E90FF;
	cursor: pointer;
}

.sock-thumbnail-browse:hover {
	background-color: #C6E2FF;
	cursor: pointer;
}

.sock-browse-profile-pic-container {
	display: inline-block;
	height: 40px;
	width: 40px;
	border-radius: 0px;
	margin-top: -20px;
}

.sock-browse-profile-pic {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	margin-top: -20px;
	border: 4px solid #ADD8E6;
}

.sock-browse-profile-pic:hover {
	border: 4px solid #1E90FF;
	cursor: pointer;
}

.sock-info-browse {
	margin-top: 5px;
	width: 230px;
}

.sock-browse-text-container {
	border-radius: 5px;
	display: inline-block;
	margin: 0 auto;
	background-color: white;
	width: 160px;
}

.sock-browse-text {
	margin: 1px;
}

.sock-browse-text-title {
	font-weight: bold;
}
</style>

<div class="container">
	<div class="title-background">
		<h1>The Sock Market</h1>
	</div>

	<div class="sock-section">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h3>Most Recent Socks</h3>
					<div class="content">
						<!-- hardcoded -->
						<div ng-repeat="sock in mostRecentSocks" class="sock-thumbnail">
							<sock-detail sock="sock" class="sock-thumbnail-dir"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="sock-section">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h3>Most Popular Socks</h3>
					<div class="content">
						<div class="sock-thumbnail" ng-repeat="sock in mostPopularSocks">
							<sock-detail sock="sock" class="sock-thumbnail-dir"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="sock-section">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h3>Recently Purchased Socks</h3>
					<div class="content">
						<div class="sock-thumbnail" ng-repeat="sock in recentlyPurchasedSocks">
							<sock-detail sock="sock.sock" class="sock-thumbnail-dir"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<br>
	<h2>Browse All:</h2>

	<div infinite-scroll="loadSocks(maxSockId)"
			 infinite-scroll-disabled="busy"
			 infinite-scroll-distance="1">
		<div class="container browse-section">
			<div class="row">
				<div class="col-xs-12">
					<div ng-repeat="sock in browseSocks">
						<sock-detail sock="sock" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<hr>
	<br>
</div>
